@import "./variables";

@import "~@angular-mdc/theme";

// custom helper classes
@import "./helpers";

body {
    margin: 0;
    padding: 0;
}
app-root {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 56px);
    padding-top: 56px;
}
main {
    flex: 1 0 auto;
}
footer {
    flex: 0;
    width: 100%;
}