<section id="contact" class="container mdc-layout-grid">
  <h3 class="mdc-typography--display1 align-center">Let's get in touch</h3>
  <div class="mdc-layout-grid__inner">

    <div class="mdc-layout-grid__cell
      mdc-layout-grid__cell--span-7-desktop
      mdc-layout-grid__cell--span-8-tablet
      mdc-layout-grid__cell--align-middle
      align-center">
      <a href="mailto:deshmukhmayur@outlook.com" class="email-link">
        <mdc-icon fontSet="fa" fontIcon="fa-envelope-o" fontSize="96"></mdc-icon>
        <br>
        deshmukhmayur@outlook.com
      </a>
    </div>

    <div class="mdc-layout-grid__cell
      mdc-layout-grid__cell--span-5-desktop
      mdc-layout-grid__cell--span-8-tablet">
      <mdc-list class="social-links">
          <a mdc-list-item href="https://instagram.com/deshmukhmayur" target="_blank">
            <mdc-icon mdc-list-item-graphic fontSet="fa" fontIcon="fa-instagram" fontSize="24"></mdc-icon>
            /deshmukhmayur
          </a>
          <a mdc-list-item href="https://facebook.com/deshmukhmayur204" target="_blank">
            <mdc-icon mdc-list-item-graphic fontSet="fa" fontIcon="fa-facebook-square" fontSize="24"></mdc-icon>
            /deshmukhmayur204
          </a>
          <a mdc-list-item href="https://twitter.com/deshmukhmayur24" target="_blank">
            <mdc-icon mdc-list-item-graphic fontSet="fa" fontIcon="fa-twitter-square" fontSize="24"></mdc-icon>
            /deshmukhmayur24
          </a>
          <a mdc-list-item href="https://plus.google.com/+MayurDeshmukh204" target="_blank">
            <mdc-icon mdc-list-item-graphic fontSet="fa" fontIcon="fa-google-plus-square" fontSize="24"></mdc-icon>
            /+MayurDeshmukh204
          </a>
          <a mdc-list-item href="https://www.linkedin.com/in/deshmukhmayur204" target="_blank">
            <mdc-icon mdc-list-item-graphic fontSet="fa" fontIcon="fa-linkedin-square" fontSize="24"></mdc-icon>
            /deshmukhmayur204
          </a>
          <a mdc-list-item href="https://github.com/deshmukhmayur" target="_blank">
            <mdc-icon mdc-list-item-graphic fontSet="fa" fontIcon="fa-github-square" fontSize="24"></mdc-icon>
            /deshmukhmayur
          </a>
      </mdc-list>
    </div>

  </div>
</section>