<section class="container mdc-layout-grid align-center">
  <h2 class="mdc-typography--display3">This is embarassing
    <mdc-icon fontSize="72">😅</mdc-icon>
  </h2>
  <p class="mdc-typography--headline">Still working on it&hellip;
    <mdc-icon fontSet="fa" fontIcon="fa-cog" class="fa-spin"></mdc-icon>
  </p>
  <p class="mdc-typography--body1">Please come back later</p>
  <a mdc-button [stroked]="true" href="https://github.com/deshmukhmayur/deshmukhmayur.com/projects/1" target="_blank">
    <mdc-icon fontSet="fa" fontIcon="fa-tasks"></mdc-icon>
    See the progress so far
  </a>
</section>