<section id="portfolio" class="container mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <span class="mdc-typography--display1">My Work</span>

      <span class="pull-right">
        <a mdc-button href="https://www.behance.net/deshmukhmayur" target="_blank">
          <mdc-icon fontSet="fa" fontIcon="fa-behance"></mdc-icon>
        </a>
        <a mdc-button href="https://www.artstation.com/deshmukhmayur"  target="_blank">
          <img src="/assets/icons/artstation.svg" style="height: 18px; margin-bottom: -0.15rem;">
        </a>
      </span>
    </div>
  </div>
  <br>
  <div class="mdc-layout-grid__inner align-center" *ngIf="projects.length == 0 && !loadingError">
    <div class="mdc-layout-grid__cell--span-12">
      <span class="md-spinner" style="height: 2rem; width:2rem;"></span>
      <p>Loading...</p>
    </div>
  </div>

  <ul class="projects-list" *ngIf="projects.length > 0">
    <li class="project-item mdc-layout-grid__inner" *ngFor="let project of projects">
      <div class="project-item-media
        mdc-layout-grid__cell
        mdc-layout-grid__cell--span-6-desktop
        mdc-layout-grid__cell--span-8-tablet">
        <img [src]="project.screenshot" [alt]="project.title" width="100%">
      </div>
      <div class="project-item-description
        mdc-layout-grid__cell
        mdc-layout-grid__cell--span-6-desktop
        mdc-layout-grid__cell--span-8-tablet">
        <h3 class="project-item-title mdc-typography--headline">
          {{project.title}}
        </h3>
        <span class="mdc-typography--subheading2">
          {{project.position}}
        </span>
        &mdash;
        <span class="mdc-typography--body1">
          {{project.duration}}
        </span>
        <p class="mdc-typography--caption">
          {{project.description}}
        </p>
        <div class="tags">
          <span class="chip mdc-typography--caption" *ngFor="let tag of project.tags">
            {{tag}}
          </span>
        </div>
        <div class="links">
          <a mdc-button [stroked]="true" *ngIf="project.website" [href]="project.website" target="_blank">
            <mdc-icon>open_in_new</mdc-icon>
            Website
          </a>
          <a mdc-button [stroked]="true" *ngIf="project.project_url" [href]="project.project_url" target="_blank">
            <mdc-icon fontSet="fa" fontIcon="fa-github"></mdc-icon>
            Github
          </a>
        </div>
      </div>
    </li>
  </ul>

  <div class="mdc-layout-grid__inner" *ngIf="loadingError">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 align-center">
      <h3 class="mdc-typography--headline">Could not load the data</h3>
      <p class="mdc-typography--body1">Try reloading the page</p>
      <a mdc-button [stroked]="true" (click)="reloadPage()">
        <mdc-icon>refresh</mdc-icon>
        Reload</a>
    </div>
  </div>
</section>