@media screen and (max-width: 839px) {
    .profile-img {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    #welcome .greeting {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}